@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
// https://davidwalsh.name/sass-color-variables-dont-suck

//Colors
$turquoise: #46b893;
$orange-red: #df6b50;
$dark-blue: #4162aa;
$light-blue: #54c7ee;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

//Font
$font-primary: "Nunito", Helvetica, sans-serif;
$font-secondary: "Playfair Display", serif;
