@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

.ProfileContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.OurStoryContainer {
  max-width: 860px;
  border: 1px solid #797979;
  margin: 20px auto;
  border-radius: 10%;
  padding: 60px 5px;
  box-sizing: border-box;
  background-color: #fff;
}

.OurStoryContainer h1 {
  color: #46b893;
  font-family: "Nunito", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 0;
}

.OurStoryContainer p {
  color: #454444;
  font-family: "Nunito", Helvetica, sans-serif;
  line-height: 32px;
  font-size: 18px;
  max-width: 660px;
  margin: 35px auto 0;
}

.TeamMemberContainer {
  max-width: 900px;
  margin: 100px auto;
}

.TeamMemberContainer h2 {
  color: #454444;
  font-family: "Nunito", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-transform: capitalize;
  max-width: 200px;
  margin: 0 auto 10px;
  border-bottom: 10px solid transparent;
  padding: 5px;
  -o-border-image: url(../../../Assets/Graphics/WaveUnderlinesDouble.svg) 60
    round;
  border-image: url(../../../Assets/Graphics/WaveUnderlinesDouble.svg) 60 round;
}

.TeamMemberContainer h3 {
  font-family: "Playfair Display", Times, serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  max-width: 75px;
  margin: 0 auto 24px;
  border-bottom: 10px solid transparent;
  padding: 5px;
}

.TeamMemberContainer li:first-of-type h3 {
  -o-border-image: url(../../../Assets/Graphics/WaveUnderlineBlue.svg) 15 round;
  border-image: url(../../../Assets/Graphics/WaveUnderlineBlue.svg) 15 round;
}

.TeamMemberContainer li:nth-last-of-type(2) h3 {
  -o-border-image: url(../../../Assets/Graphics/WaveUnderlineOrange.svg) 15
    round;
  border-image: url(../../../Assets/Graphics/WaveUnderlineOrange.svg) 15 round;
}

.TeamMemberContainer li:last-of-type h3 {
  -o-border-image: url(../../../Assets/Graphics/WaveUnderlineNeonBlue.svg) 15
    round;
  border-image: url(../../../Assets/Graphics/WaveUnderlineNeonBlue.svg) 15 round;
}

.TeamMemberContainer p {
  color: #454444;
  font-family: "Nunito", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.ProfileContainer:not(:last-of-type) {
  margin-bottom: 50px;
}

.BioContainerLeft {
  order: 1;
  background-color: #fff;
}
.BioContainerRight {
  order: 2;
  background-color: #fff;
}
.HeadshotContainerLeft {
  order: 1;
}
.HeadshotContainerRight {
  order: 2;
}
