#jumbotronStyle h2 {
  font-size: 32px;
  text-align: center;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 200;
  margin-top: 50px;
}

.HeaderBox {
  margin: auto;
}

.topHeader {
  color: #9e9e9e;
  display: block;
  font-size: 14px;
  margin-top: -3%;
  margin-bottom: -3%;
  text-align: center;
  letter-spacing: 2px;
}

.bodyJumbotron {
  color: #222;
  width: 67%;
  margin: 4% auto;
  font-size: 1.2vw;
  text-align: center;
  line-height: 1.75;
}

span,
#NavOverride {
  color: #46b893;
}

#jumbotronStyle {
  margin: auto;
  text-align: center;
  background-color: white;
  /* box-shadow: 5px 10px 8px #888888; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  height: 300px;
  margin-bottom: 100px;
  font-family: "Nunito";
  width: 70%;
  padding: 90px 0 0 0;
}

/* Override the nav bar */
#JumbotronStyle a,
#NavOverride {
  text-decoration: none;
  font-size: 100%;
}

#JumbotronStyle a:hover,
#NavOverride:hover {
  text-decoration: underline;
}
