span {
  color: #46b893;
}

.Header {
  text-align: center;
  box-shadow: 5px 10px 8px #888888;
  background-color: white;
  margin: 0% auto 5% auto;
  padding: 10% 2%;
  /* border: 3px solid rgb(184, 184, 184); */
  border-radius: 10px;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}
