@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

a,
a::after {
  text-decoration: none;
  color: #454444;
  font-size: 65%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

nav ul {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  margin: 0;
}

#navBar2 {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  margin-right: 25px;
  margin-left: 25px;
}

.underline {
  border-bottom: 3px solid #46b893;
}

#navBar2 > li:hover {
  transform: scale(1.5);
}
