@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import "utilities/variables";

.ProfileContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.OurStoryContainer {
  // max-width: 860px;
  width: 70%;
  border: 1px solid #797979;
  box-shadow: $box-shadow;
  margin: 20px auto;
  border-radius: 30px;
  padding: 60px 5px;
  box-sizing: border-box;
  background-color: #fff;
}

.OurStoryContainer h1 {
  color: $turquoise;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 0;
}

.OurStoryContainer p {
  color: #454444;
  font-family: $font-primary;
  line-height: 32px;
  font-size: 18px;
  // max-width: 660px;
  width: 60%;
  margin: 35px auto 0;
}

.TeamMemberContainer {
  // max-width: 900px;
  width: 60%;
  margin: 100px auto;
}

.TeamMemberContainer h2 {
  color: #454444;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 26px;
  text-transform: capitalize;
  max-width: 200px;
  // width: 70%;
  margin: 0 auto 10px;
  border-bottom: 10px solid transparent;
  padding: 5px;
  -o-border-image: url(../public/Assets/Graphics/WaveUnderlinesDouble.svg) 60
    round;
  border-image: url(../public/Assets/Graphics/WaveUnderlinesDouble.svg) 60 round;
}

.TeamMemberContainer h3 {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  max-width: 75px;
  // width: 30%;
  margin: 0 auto 24px;
  border-bottom: 10px solid transparent;
  padding: 5px;
}

.TeamMemberContainer li:first-of-type h3 {
  -o-border-image: url(../public/Assets/Graphics/WaveUnderlineBlue.svg) 15 round;
  border-image: url(../public/Assets/Graphics/WaveUnderlineBlue.svg) 15 round;
}

.TeamMemberContainer li:nth-last-of-type(2) h3 {
  -o-border-image: url(../public/Assets/Graphics/WaveUnderlineOrange.svg) 15
    round;
  border-image: url(../public/Assets/Graphics/WaveUnderlineOrange.svg) 15 round;
}

.TeamMemberContainer li:last-of-type h3 {
  -o-border-image: url(../public/Assets/Graphics/WaveUnderlineNeonBlue.svg) 15
    round;
  border-image: url(../public/Assets/Graphics/WaveUnderlineNeonBlue.svg) 15
    round;
}

.TeamMemberContainer p {
  color: #454444;
  font-family: $font-primary;
  font-size: 18px;
  line-height: 25px;
}

.ProfileContainer:not(:last-of-type) {
  margin-bottom: 50px;
}

.BioContainerLeft {
  order: 1;
  background-color: #fff;
  margin-right: 50px;
}
.BioContainerRight {
  order: 2;
  background-color: #fff;
  margin-left: 50px;
}
.HeadshotContainerLeft {
  order: 1;
  width: 100%;
}
.HeadshotContainerRight {
  order: 2;
  width: 100%;
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

// 769px — 1024px: Small screens, laptops
@media only screen and (max-width: 1024px) {
  .OurStoryContainer {
    width: 80%;
  }

  .OurStoryContainer h1 {
    font-size: 26px;
  }

  .OurStoryContainer p {
    line-height: 30px;
    font-size: 16px;
    width: 70%;
    margin: 25px auto 0;
  }

  .TeamMemberContainer {
    width: 70%;
  }

  .TeamMemberContainer h3 {
    font-size: 20px;
    max-width: 60px;
    margin: 0 auto 14px;
  }

  .TeamMemberContainer p {
    font-size: 16px;
    line-height: 23px;
  }
}

@media only screen and (max-width: 769px) {
  .OurStoryContainer {
    width: 90%;
    padding: 45px 5px;
  }

  .OurStoryContainer p {
    width: 85%;
  }

  .TeamMemberContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .OurStoryContainer {
    padding: 35px 5px;
  }

  .OurStoryContainer h1 {
    font-size: 22px;
  }

  .OurStoryContainer p {
    line-height: 20px;
    font-size: 12px;
    width: 80%;
    margin: 20px auto 0;
  }

  .TeamMemberContainer {
    width: 80%;
  }

  .TeamMemberContainer h3 {
    font-size: 16px;
    max-width: 60px;
    margin: 0 auto 12px;
  }

  .TeamMemberContainer p {
    font-size: 12px;
    line-height: 15px;
  }
}

// @media only screen and (max-width: 481px) {
//   .OurStoryContainer {
//     padding: 45px 5px;
//   }

//   .OurStoryContainer p {
//     width: 85%;
//   }

//   .TeamMemberContainer {
//     width: 80%;
//   }
// }
