@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "utilities/variables";

body {
  background-image: url(../public/Assets/SVG/BackgroundPatterns.svg);
  background-repeat: repeat;
  background-color: hsla(0, 0%, 100%, 0.8);
  background-blend-mode: lighten;
  font-size: 20px;
  width: 100%;
}

span,
h1 {
  color: $turquoise;
}

img,
h1,
footer {
  text-align: center;
  margin: auto;
}

h1,
p {
  font-family: $font-primary;
}

h1,
footer {
  font-weight: 700;
  margin-top: 3%;
}

a,
a::after {
  text-decoration: none;
  color: #454444;
  font-size: 65%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

nav ul {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

.active {
  border-bottom: 3px solid $turquoise;
}

/* Responsivenes */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.8em;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  footer {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.6em;
  }

  footer {
    font-size: 14px;
  }
}
