@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

$color-primary: #46b893;
$font-primary: "Nunito", sans-serif;

#welcomeBody {
  margin: auto;
  text-align: center;
  font-family: $font-primary;
  width: 70%;
}

#welcomeBody h2 {
  font-size: 3vw;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  margin-top: 50px;
  color: $color-primary;
}

.HeaderBox {
  margin: auto;
}

.bodyJumbotron {
  color: #222;
  width: 50%;
  margin: 4% auto;
  font-size: 1.2vw;
  text-align: center;
  line-height: 1.75;
}

.NavOverride {
  color: $color-primary;
}

/* Override the nav bar */
#welcomeBody a,
.NavOverride {
  text-decoration: none;
  font-size: 100%;
}

#welcomeBody a:hover,
.NavOverride:hover {
  text-decoration: underline;
}

.rowInline {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.customCard {
  border: 1px solid #797979;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
  font-family: "Nunito", sans-serif;
  width: 30%;
  height: 100%;
}

.button {
  border: 1px solid #797979;
  color: white;
  border-radius: 10px;
  margin: 10% 10%;
  padding: 4% 4%;
  width: 70%;
  text-align: center;
}

/* The reason I'm targetting a tag is because we have to override the a tag styling from the nav bar... This can be improved */
#pitfallsButton:hover,
#trailblazersButton:hover,
#aboutButton:hover {
  background-color: black;
}
.customCard p {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 10%;
  color: #222;
  font-size: 1.2vw;
  text-align: center;
  line-height: 1.75;
}

.customCard h3 {
  margin: 13% 0 5% 0;
}
#trailblazersCard h3 {
  color: #4162aa;
}

#trailblazersButton a,
#pitfallsButton a,
#aboutButton a {
  color: white;
  font-size: 1.2vw;
}

#trailblazersButton {
  background-color: #4162aa;
}

#pitfallsCard h3 {
  color: #df6b50;
}

#pitfallsButton {
  background-color: #df6b50;
}

#aboutCard h3 {
  color: #54c7ee;
}

#aboutButton {
  background-color: #54c7ee;
}

@media only screen and (max-width: 650px) {
  .rowInline {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    align-items: center;
    gap: 40px;
  }
}
