@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import "utilities/variables";

#welcomeBody {
  margin: auto;
  text-align: center;
  font-family: $font-primary;
  width: 70%;
}

#welcomeBody h2 {
  font-size: 3.4vw;
  text-align: center;
  font-family: $font-secondary;
  font-weight: 200;
  margin-top: 50px;
  color: $turquoise;
}

.HeaderBox {
  margin: auto;
}

#Jumbotron {
  background-color: #fff;
  width: 60%;
  margin: 7% auto 9% auto;
}
.bodyJumbotron {
  color: #000000;
  margin: 5% auto;
  font-size: 1.6vw;
  text-align: center;
  line-height: 1.75;
}

.NavOverride {
  color: $turquoise;
}

/* Override the nav bar */
#welcomeBody a,
.NavOverride {
  text-decoration: none;
  font-size: 100%;
}

#welcomeBody a:hover,
.NavOverride:hover {
  text-decoration: underline;
}

.rowInline {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.customCard {
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 30px;
  font-family: $font-primary;
  width: 30%;
  height: 90%;
}

.button {
  // border: 1px solid #797979;
  color: white;
  border-radius: 10px;
  margin: 10% 10%;
  padding: 4% 4%;
  width: 70%;
  text-align: center;
}

/* The reason I'm targetting a tag is because we have to override the a tag styling from the nav bar... This can be improved */
#pitfallsButton:hover,
#trailblazersButton:hover,
#aboutButton:hover {
  background-color: black;
}
.customCard p {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 10%;
  color: #000000;
  font-size: 1.2vw;
  text-align: center;
  line-height: 1.75;
}

.customCard h3 {
  margin: 13% 0 5% 0;
}
#trailblazersCard h3 {
  color: $dark-blue;
}

#trailblazersButton a,
#pitfallsButton a,
#aboutButton a {
  color: white;
  font-size: 1.2vw;
}

#trailblazersButton {
  background-color: $dark-blue;
}

#pitfallsCard h3 {
  color: $orange-red;
}

#pitfallsButton {
  background-color: $orange-red;
}

#aboutCard h3 {
  color: $light-blue;
}

#aboutButton {
  background-color: $light-blue;
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

// 769px — 1024px: Small screens, laptops
@media only screen and (max-width: 1024px) {
  .customCard h3 {
    font-size: 95%;
  }
}

// 650px — 768px
@media only screen and (max-width: 768px) {
  .customCard h3 {
    font-size: 85%;
  }
}

@media only screen and (max-width: 650px) {
  .rowInline {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    margin-top: 8%;
    align-items: center;
    gap: 40px;
  }

  .customCard {
    width: 60%;
    height: 100%;
  }

  .customCard h3 {
    font-size: 80%;
  }

  #Jumbotron {
    width: 70%;
  }

  .bodyJumbotron {
    font-size: 0.6em;
  }

  .customCard p {
    font-size: 0.6em;
  }

  #trailblazersButton a,
  #pitfallsButton a,
  #aboutButton a {
    font-size: 2.3vw;
  }
}

@media only screen and (max-width: 600px) {
  .customCard h3 {
    color: aqua;
  }
}
