@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import "utilities/variables";

#navBar {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 50px 0;
  /* position: static; */
}

.navBarMobile {
  background-color: transparent;
  border: transparent;
  width: 12%;
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
}

.underline {
  font-size: 1em;
}

.underline:hover {
  transform: scale(1.5);
}

.active {
  border-bottom: 3px solid $turquoise;
}

/* To do: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav
T9hacks also implemented this */
@media only screen and (max-width: 600px) {
  .navBarMobile {
    display: flex;
  }
  #navBar {
    display: flex;
    box-shadow: $box-shadow;
    border-radius: 30px;
    border: 1px solid #797979;
    padding: 10%;
    width: 60%;
    justify-content: center;
    margin: 8% auto 5% auto;
  }
  #navBar a:hover {
    background-color: $turquoise;
    width: 100%;
  }
  #navBar.hidden {
    display: none !important;
  }
}
