@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

.card {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 300px;
  margin: auto;
  text-align: center;
  border: 1px solid #797979;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
  overflow: hidden;
}

.title {
  font-family: "nunito";
  text-align: center;
  margin-top: 4%;
  color: black;
  width: 100%;
  font-size: 1.8em;
  z-index: 2;
}

.card::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #fff 80%
  );
  margin-top: -180px;
  height: 280px;
  width: 100%;
  content: "";
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
}

.timelineButton {
  display: block;
  text-align: center;
  color: black;
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 14px;
  padding: 10px;
  width: 60%;
  margin: auto;
  align-self: flex-end;
  font-family: "nunito";
  z-index: 2;
}

.card:hover {
  backdrop-filter: blur(80px);
  opacity: 0.6;
}
