@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import "utilities/variables";

#jumbotronStyle {
  border: 1px solid #797979;

  margin: auto;
  text-align: center;
  background-color: white;
  /* box-shadow: 5px 10px 8px #888888; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
  height: 100%;
  margin-bottom: 50px;
  font-family: $font-primary;
  width: 70%;
}

.N04TextInfoContent-body-12 {
  font-size: 50vw;
}

.MuiCardMedia-root {
  background-position: center top;
}

#trailblazer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2%;
  gap: 70px;
}

#trailblazer li {
  margin: 2% 1%;
  margin-left: -40px;
  gap: 50px;
}

#explanationTrailblazer {
  display: flex;
  justify-content: center;
  height: auto;
}

#jumbotronStyle h2 {
  font-size: 32px;
  text-align: center;
  font-family: $font-primary;
  font-weight: 300;
}

.topHeader {
  color: #9e9e9e;
  display: block;
  font-size: 1.1em;
  margin-top: 5%;
  margin-bottom: -4%;
  text-align: center;
  letter-spacing: 2px;
}

.bodyJumbotron {
  color: #000000;
  width: 60%;
  margin: 5% auto 8% auto;
  font-size: 10%;
  text-align: center;
  line-height: 1.75;
}
